# --- Identità della stazione ---
ID_STAZIONE = 'c1d1d1c3-2806-3007-8f48-33f2b28c4839' # cambierà quando useremo più stazioni
TOKEN_STAZIONE = 'ad08bf1f9a0900dfefe3e3d52913b600025ccdd7122dbb7f3a524a5a9c9125f3'

ID_PUNTO1 = '03ad4c87-612e-304e-a4ba-0774eea23b49'
ID_PUNTO2 = 'c6510a93-cdd9-3730-a5ff-2105e69fc62e'

# --- Backend Laravel ---
BACKEND_URL = 'http://app'         # in docker: nome del servizio. Da host: http://localhost
TIMEOUT_AUTH       = 60
METER_INTERVAL     = 5             # ogni quanti secondi flush dei kWh su Redis
HEARTBEAT_INTERVAL = 60            # ogni quanti secondi heartbeat HTTP a Laravel

# --- WebSocket server Node (ws-server) ---
WS_URL           = 'ws://ws-node:8080/'                 # da host: ws://localhost:8080/
WS_STATION_TOKEN = 'dev-station-token-change-me'        # deve combaciare con quello del ws-node

# --- Redis (usato per scrivere i kWh in tempo reale) ---
REDIS_HOST = 'redis'              # da host: 127.0.0.1
REDIS_PORT = 6379
REDIS_DB   = 0
