# --- Identità della stazione ---
ID_STAZIONE = 'c1d1d1c3-2806-3007-8f48-33f2b28c4839' # cambierà quando useremo più stazioni
BACKEND_URL = 'http://localhost'

ID_PUNTO1 = '03ad4c87-612e-304e-a4ba-0774eea23b49'
ID_PUNTO2 = 'c6510a93-cdd9-3730-a5ff-2105e69fc62e'

# --- MQTT (broker Mosquitto) ---
MQTT_HOST              = ''                # host del broker (vuoto = localhost)
MQTT_PORT              = ''                # porta del broker (vuoto = 1883)
MQTT_NOME_UTENTE       = 'colonnina'
MQTT_PASSWORD_STAZIONE = 'cambia-questa-password'

# --- Intervalli (secondi) ---
METER_INTERVAL     = 5             # ogni quanti secondi la stazione pubblica la telemetria
HEARTBEAT_INTERVAL = 60            # ogni quanti secondi la stazione pubblica l'heartbeat
