APP_NAME="Green_School project"
APP_ENV=local
APP_KEY=base64:FyW2I45gBH8EE7m4frwGEj2yqm2E5cFZxmEogvLWriA=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

# --- CONFIGURAZIONE DATABASE (MARIADB) ---
# Usiamo i nomi dei servizi definiti nel tuo docker-compose
DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=db_green_school
DB_USERNAME=admin
DB_PASSWORD=password

# --- CONFIGURAZIONE REDIS ---
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

BROADCAST_CONNECTION=reverb
QUEUE_CONNECTION=redis

# --- CONFIGURAZIONE REVERB (Il Motore WebSocket) ---
# REVERB_HOST=0.0.0.0 dice al container di ascoltare su tutte le reti interne di Docker
REVERB_APP_ID=green_school
REVERB_APP_KEY=a350d2367d13394c34e998d87a135962
REVERB_APP_SECRET=c39d22e1bd02e4e10b97e58dbefa68e9e8cab25e8a37cfe6d277b28091874078
REVERB_HOST=0.0.0.0
REVERB_PORT=8080
REVERB_SCHEME=http

# --- CONFIGURAZIONE VITE (Il Postino per il Browser) ---
# Queste variabili vengono "iniettate" nel JavaScript che l'utente scarica.
# VITE_REVERB_HOST=localhost perché il browser dell'utente "vede" Docker tramite localhost
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http

# --- ALTRE IMPOSTAZIONI ---
SESSION_DRIVER=redis
CACHE_STORE=redis
QUEUE_CONNECTION=redis



QR_DOMAIN = http://localhost/api/verifica
QR_SECRET = 01a36eaa759b3e97b4c2c366dfd79e5c82b20a0fb5f566b66f0d8306f3f3153c
